body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}

.container {
    width: 500px;
    margin: 50px auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#addBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
}

#addBtn:hover {
    opacity: 0.9;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #2a2a2a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.edit-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
}